:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #23252C;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

div {
  background: #1A1B21;
  width: 317px;
}

h3 {
  line-height: 1px;
  color: #F3BF99;
}

h2.A {
  text-align: left;
  margin-left: 25px;
  font-size: 16px;
}

button {
  border-radius: 6px;
  border: 2px solid #5093E2;
  padding: 9px 13px 9px 11px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFFFFF ;
  color: #5093E2;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.link {
  background-color: #5093E2;
  color:#FFFFFF;
}

.btn1 {
  margin-right: 40px;
}

.fa-envelope, .fa-linkedin {
  margin-right: 8px;
}

img.rounded {
  height: 317px;
  width: 317px;
}

p.card-text {
  margin: 2%;
}

.about {
  padding-left: 15px;}

.fa-icons {
  padding-right: 15px;
  /* padding-left: 25px; */
}

.layout {
height: 750px;
}

div.footer {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}